@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

body {
  background-color: #f4f4f4;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #57544d;
  -webkit-box-shadow: 3px 3px 5px 1px #686565;
          box-shadow: 3px 3px 5px 1px #686565;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

body header div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 400px;
          flex: 5 1 400px;
  margin-left: 2rem;
}

body header div.logo img {
  width: 5vw;
  height: 4vw;
}

body header nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 300px;
          flex: 2 1 300px;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.35rem;
}

body header nav ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .section-one .container {
  width: 100%;
  height: 100vh;
  position: relative;
}

body main .section-one .container .shades {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

body main .section-one .container .shades .left {
  width: 160px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#16161a79));
  background: linear-gradient(to left, transparent, #16161a79);
  position: absolute;
  left: 0;
  top: 0;
}

body main .section-one .container .shades .right {
  width: 160px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#16161a79));
  background: linear-gradient(to right, transparent, #16161a79);
  position: absolute;
  right: 0;
  top: 0;
}

body main .section-one .container .shades .top {
  width: 100%;
  height: 90px;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#16161a79));
  background: linear-gradient(to top, transparent, #16161a79);
  position: absolute;
  left: 0;
  top: 0;
}

body main .section-one .container .shades .bottom {
  width: 100%;
  height: 220px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#16161a79));
  background: linear-gradient(to bottom, transparent, #16161a79);
  position: absolute;
  left: 0;
  bottom: 0;
}

body main .section-one .container .imgs {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

body main .section-one .container .imgs a {
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body main .section-one .container .imgs a.active {
  opacity: 1;
}

body main .section-one .container .imgs a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
}

body main .section-one .container .titles {
  width: 297px;
  height: 416px;
  position: absolute;
  top: 19%;
  right: 5%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(22%, #16161a79), color-stop(81%, #16161a79), to(transparent));
  background: linear-gradient(to bottom, transparent, #16161a79 22%, #16161a79 81%, transparent);
}

body main .section-one .container .titles a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  padding: 12px 20px;
  text-decoration: none;
}

body main .section-one .container .titles a .title2 {
  font-size: 12px;
  margin-top: 8px;
  font-weight: normal;
  display: none;
}

body main .section-one .container .titles a.active {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(255, 255, 255, 0.25)), color-stop(90%, transparent));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 20%, transparent 90%);
}

body main .section-one .container .titles a.active .title2 {
  display: block;
}

body main .section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff3d3;
  font-family: "Dosis", sans-serif;
}

body main .section-two .overview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .section-two .overview-container .overview-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
  position: absolute;
  width: 100%;
  height: 20%;
  top: 100%;
  opacity: 0;
}

body main .section-two .overview-container .overview-title h1 {
  position: absolute;
  top: 90px;
  font-size: 120px;
  letter-spacing: 0.2em;
  color: rgba(245, 175, 110, 0.4);
}

body main .section-two .overview-container .overview-title h2 {
  position: absolute;
  top: 150px;
  font-size: 30px;
  letter-spacing: 0.1em;
  color: #6176b1;
}

body main .section-two .overview-container .card {
  width: 410px;
  height: 620px;
  overflow: hidden;
  margin: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  position: relative;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

body main .section-two .overview-container .card a {
  text-decoration: none;
}

body main .section-two .overview-container .card a:visited {
  color: #fff;
}

body main .section-two .overview-container .card a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

body main .section-two .overview-container .card a .text {
  position: absolute;
  inset: 30px;
  padding: 0 18px;
}

body main .section-two .overview-container .card a .text::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

body main .section-two .overview-container .card a .text h2,
body main .section-two .overview-container .card a .text p {
  margin-bottom: 6px;
  opacity: 0;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

body main .section-two .overview-container .card a .text h2 {
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate(30%, 0%);
          transform: translate(30%, 0%);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

body main .section-two .overview-container .card a .text h2 span {
  font-weight: 800;
}

body main .section-two .overview-container .card a .text p {
  font-weight: 200;
  -webkit-transform: translate(0%, 30%);
          transform: translate(0%, 30%);
}

body main .section-two .overview-container .card:hover img {
  opacity: 0.3;
}

body main .section-two .overview-container .card:hover .text h2,
body main .section-two .overview-container .card:hover .text p {
  position: absolute;
  top: 50%;
}

body main .section-two .overview-container .card:hover .text h2 {
  opacity: 1;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  top: 35%;
}

body main .section-two .overview-container .card:hover .text p {
  opacity: 0.9;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

body main .section-two .overview-container .card:hover .text::before {
  background: #fce000;
  background: -webkit-gradient(linear, left top, left bottom, from(#fce000), color-stop(50%, #0405e7), to(#eb0000));
  background: linear-gradient(180deg, #fce000 0%, #0405e7 50%, #eb0000 100%);
  mix-blend-mode: overlay;
  left: 0;
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

body main .food-container {
  width: 100%;
  height: 250vh;
  position: relative;
  background-color: #fff3d3;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  overflow: hidden;
}

body main .food-container .food-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
  opacity: 0;
}

body main .food-container .food-title h1 {
  position: absolute;
  top: 51px;
  font-size: 120px;
  letter-spacing: 0.2em;
  color: rgba(245, 175, 110, 0.4);
}

body main .food-container .food-title h2 {
  position: absolute;
  top: 120px;
  font-size: 30px;
  letter-spacing: 0.1em;
  color: #6176b1;
}

body main .food-container ul {
  position: relative;
  top: 10%;
}

body main .food-container ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

body main .food-container ul li .imageContainer {
  width: 700px;
  height: 700px;
  background: rgba(248, 249, 250, 0.38);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -50px;
}

body main .food-container ul li .imageContainer img {
  width: 800px;
  height: 800px;
  -webkit-animation: floating1 3s linear infinite;
          animation: floating1 3s linear infinite;
}

body main .food-container ul li .description {
  position: relative;
  left: 10%;
  top: 25%;
  width: 900px;
}

body main .food-container ul li .description h1 {
  font-size: 150px;
  font-weight: 600;
  letter-spacing: 20px;
  padding: 10px;
  color: #f5af6e;
}

body main .food-container ul li .description p {
  font-size: 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: gray;
  line-height: 40px;
}

body main .food-container ul li .description p:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(225deg, #f1d48e, #ffe8b1);
  -webkit-box-shadow: -5px 5px 22px #ceb986, 5px -5px 22px #ffffd3;
          box-shadow: -5px 5px 22px #ceb986, 5px -5px 22px #ffffd3;
}

body main .food-container ul li:nth-child(2) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  margin-right: -50px;
}

body main .food-container ul li:nth-child(2) img {
  -webkit-animation: floating2 3s linear infinite;
          animation: floating2 3s linear infinite;
}

@-webkit-keyframes floating1 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes floating1 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes floating2 {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes floating2 {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

body main .section-three {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff3d3;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
}

body main .section-three .people-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  letter-spacing: 3px;
  position: absolute;
  width: 100%;
  height: 30%;
  -webkit-transform: translate(0rem, -18rem);
          transform: translate(0rem, -18rem);
  line-height: 10px;
}

body main .section-three .people-title h1 {
  position: absolute;
  font-size: 120px;
  letter-spacing: 0.2em;
  color: rgba(245, 175, 110, 0.4);
}

body main .section-three .people-title h2 {
  font-size: 30px;
  letter-spacing: 0.1em;
  z-index: 1;
  color: #6176b1;
}

body main .section-three .people-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  max-width: 1000px;
  height: 650px;
  overflow: hidden;
  opacity: 0;
}

body main .section-three .people-container .item {
  position: relative;
  width: 60px;
  margin: 10px;
  cursor: pointer;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  overflow: hidden;
  height: 600px;
}

body main .section-three .people-container .item .people-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

body main .section-three .people-container .item .people-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 10px;
  right: 0;
  bottom: 10px;
  height: 40px;
  -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

body main .section-three .people-container .item .people-content .icon {
  min-width: 40px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fffd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .section-three .people-container .item .people-content .icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

body main .section-three .people-container .item .people-content .people-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  color: #fff;
  width: 100%;
}

body main .section-three .people-container .item .people-content .people-text div {
  width: calc(100%-70px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

body main .section-three .people-container .item .people-content .people-text .tit {
  font-weight: 600;
  font-size: 18px;
}

body main .section-three .people-container .item .people-content .people-text .sub {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

body main .section-three .people-container .item.focus {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 40px;
}

body main .section-three .people-container .item.focus .people-shadow {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(65%, rgba(0, 0, 0, 0.35)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 65%, transparent);
}

body main .section-three .people-container .item.focus .people-content {
  bottom: -1px;
  left: 0;
  background: rgba(0, 0, 0, 0.356);
  height: 120px;
}

body main .section-three .people-container .item.focus .people-content .icon {
  position: absolute;
  left: 45%;
  top: -20px;
  width: 52px;
  height: 52px;
}

body main .section-three .people-container .item.focus .people-content .icon img {
  width: 49px;
  height: 49px;
}

body main .section-three .people-container .item.focus .people-content .people-text {
  padding: 10px;
}

body main .section-three .people-container .item.focus .people-content .people-text div {
  opacity: 1;
}

body footer {
  height: 100%;
  background-color: #fff3d3;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
}

body footer .location-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  line-height: 10px;
}

body footer .location-title h1 {
  position: absolute;
  font-size: 120px;
  letter-spacing: 0.2em;
  color: rgba(245, 175, 110, 0.4);
}

body footer .location-title h2 {
  font-size: 30px;
  letter-spacing: 0.2em;
  z-index: 1;
  color: #6176b1;
}

body footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5%;
}

body footer .contact form {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
}

body footer .contact form h1 {
  color: #28375e9d;
}

body footer .contact form input,
body footer .contact form textarea,
body footer .contact form button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: transparent;
  resize: none;
  border: 2px solid #6176b14d;
  color: #f5af6e;
}

body footer .contact form button {
  font-size: 20px;
}

body footer .contact form button:hover {
  background-color: #f5af6e;
  color: white;
}

body footer .contact iframe {
  margin: 20px;
  border-radius: 20px;
  height: 50vh;
}

@media all and (max-width: 1100px) {
  body main .section-one .container .titles {
    width: 200px;
    height: 190px;
  }
  body main .section-one .container .titles a .title2 {
    font-size: 10px;
  }
  body main .section-one .container .titles a.active {
    font-size: 15px;
  }
  body main .section-two .overview-container .overview-title {
    top: 100%;
  }
  body main .section-two .overview-container .overview-title h1 {
    font-size: 80px;
  }
  body main .section-two .overview-container .overview-title h2 {
    font-size: 20px;
    top: 60%;
  }
  body main .section-two .overview-container .card {
    width: 300px;
    height: 450px;
  }
  body main .section-two .overview-container .card a .text::before {
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.384);
  }
  body main .section-two .overview-container .card a .text h2 {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  body main .section-two .overview-container .card a .text p {
    opacity: 0.9;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  body main .food-container {
    max-height: 200vh;
  }
  body main .food-container .food-title h1 {
    font-size: 100px;
  }
  body main .food-container .food-title h2 {
    font-size: 30px;
    top: 100px;
  }
  body main .food-container ul {
    top: 14%;
  }
  body main .food-container ul li .imageContainer {
    height: 450px;
    width: 450px;
  }
  body main .food-container ul li .imageContainer img {
    width: 550px;
    height: 550px;
  }
  body main .food-container ul li .description {
    width: 80%;
  }
  body main .food-container ul li .description h1 {
    font-size: 70px;
    letter-spacing: 6px;
    padding: 5px;
  }
  body main .food-container ul li .description p {
    font-size: 16px;
    line-height: 25px;
  }
}

@media all and (max-width: 810px) {
  body main .section-two .overview-container .card {
    width: 250px;
  }
}

@media all and (max-width: 600px) {
  body header .logo img {
    opacity: 0;
  }
  body header nav ul {
    padding: 10px;
  }
  body main .section-two .overview-container .card {
    width: 400px;
    height: 220px;
  }
  body main .section-two .overview-container .card a .text::before {
    left: 0;
    opacity: 1;
  }
  body main .section-two .overview-container .card a .text h2 {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  body main .section-two .overview-container .card a .text p {
    opacity: 0.9;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  body main .food-container {
    height: 100vh;
  }
  body main .food-container ul {
    top: 20%;
  }
  body main .food-container ul li .imageContainer {
    height: 230px;
    width: 230px;
  }
  body main .food-container ul li .imageContainer img {
    height: 280px;
    width: 280px;
  }
  body main .food-container ul li .description {
    width: 180px;
    top: 10%;
  }
  body main .food-container ul li .description h1 {
    font-size: 30px;
    letter-spacing: 6px;
    padding: 5px;
  }
  body main .food-container ul li .description p {
    font-size: 10px;
    line-height: 14px;
  }
  body main .section-three .people-container {
    max-width: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .section-three .people-container .item {
    width: 420px;
    height: 43px;
    margin: 5px;
  }
  body main .section-three .people-container .item .people-content .icon {
    position: absolute;
    left: 45%;
    top: 20%;
  }
  body footer .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .contact form {
    width: 90%;
  }
  body footer .contact iframe {
    width: 90%;
  }
}
/*# sourceMappingURL=index.css.map */